<a href="https://colab.research.google.com/github/turhancan97/Data-Science-Earth-Python-Egitimi/blob/master/Python_B%C3%B6l%C3%BCm_2_%E2%80%93_Temel_Bilgiler_ve_Veri_Tipleri.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#İsimlendirme
python = 3
PYTHON = 5
Abcd = 7
_a = 9
print(python)
print(PYTHON)
print(Abcd)
print(_a)

3
5
7
9

In [ ]:
.a = 2

SyntaxError: ignored

In [ ]:
a?b = 4

SyntaxError: ignored

In [ ]:
def _carpma(x,y):
  return x*y

_carpma(10,4)

40

In [ ]:
def 1carpma(x,y):
  return x*y

1carpma()

SyntaxError: ignored

In [ ]:
# Girinti Mekanizması
liste = [1,2,3,4,5]
for i in range(5):
  liste[i] = liste[i]*2
  print(liste[i])

2
4
6
8
10

In [ ]:
# Yorum Satırı
liste = [1,2,3,4,5] # Bir liste oluşturduk
for i in range(5): # For döngüsü ile liste elemanlarına tek tek erişebildik.
  liste[i] = liste[i]*2 # her gir elemanı 2 ile çarptık
  print(liste[i]) # 2 ile çarpılan elemanları yukarıdan aşağıya yazdırdık
"""
Yukarıda ki gibi kodlarınızda yorum satırı oluşturursanız
ileride kodunuzu okuyunca, yazdığınız programı anlama şansınız daha
yüksek olur.
"""

2
4
6
8
10

'\nYukarıda ki gibi kodlarınızda yorum satırı oluşturursanız\nileride kodunuzu okuyunca, yazdığınız programı anlama şansınız daha\nyüksek olur.\n'

In [ ]:
# Stringler
string1 = "ali"
string2 = "veli"
print(string1 + string2) # Stringleri toplama işlemiyle birbirlerine ekleyebiliriz
print(string1 * 4) # Çarpma işlemiyle bir stringi istediğimiz kadar tekrarlatabiliriz

aliveli
alialialiali

In [ ]:
# Listeler
liste = [] # Boş liste
liste_1 = [2,4,6,8] # içinde faklı rakamlar içeren bir liste
liste_2 = [1,"string",liste_1] # içinde 3 farklı veri tipi içeren bir liste
print(liste_2)

[1, 'string', [2, 4, 6, 8]]

In [ ]:
# Demetler
tuple_0 = (1,2,3) # Örnek bir tuple
tuple_1 = ("a",1,5,tuple_0,liste_1) # Farklı veri tipleri içeren bir tuple
print(tuple_1)

('a', 1, 5, (1, 2, 3), [2, 4, 6, 8])

In [ ]:
print(tuple_1[0]) # Bu şekilde tupleların elemanlarına erişebiliyoruz, merak etmeyin ilerki bölümlerde bu konu daha detaylı ele alınacak

a

In [ ]:
tuple_1[0] = "b" # 1. elemanı değiştirmeye çalıştım ve hata aldık. Bu durumun sebebi Tupleların immutable olmasıdır

TypeError: ignored

In [ ]:
# Kümeler
kume_1 = {"kedi","kopek","kuş"}
print(kume_1)

{'kuş', 'kedi', 'kopek'}

In [ ]:
a = [1,2,2,3,3,3] # Bir liste oluşturduk.
a = set(a) # daha sonra bu listeyi set() fonksiyonunun argümanı olarak girdik.
print(a) # Ve görüldüğü gibi kümeye dönüştü, hiç bir eleman tekrar etmedi.

{1, 2, 3}

In [ ]:
# Sözlükler
capital = {"Turkey": "Ankara", "Poland": "Warsaw", "Germany":"Berlin"}
print(capital)
print(capital["Turkey"])

{'Turkey': 'Ankara', 'Poland': 'Warsaw', 'Germany': 'Berlin'}
Ankara